 *,
 ::after,
 ::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     outline: none;
     scroll-behavior: smooth;
 }
 
 body {
     font-family: 'Poppins', sans-serif;
 }
 /*navigation menu*/
 
 nav {
     position: fixed;
     width: 100%;
     transition: all 0.5;
 }
 
 nav.sticky {
     background-color: #4070f4;
 }
 
 nav.sticky .navbar .logo a,
 nav.sticky .navbar .menu li a,
 nav.sticky .navbar .media_icon i,
 nav.sticky .navbar .btn_bar {
     color: #fff;
 }
 
 nav .navbar,
 .container {
     width: 90%;
     margin: auto;
     padding: 10px 0;
 }
 
 nav .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 nav .navbar .logo a {
     color: #4070f4;
     font-size: 35px;
     font-weight: 500;
 }
 
 nav .navbar .menu {
     list-style: none;
     display: flex;
 }
 
 nav .navbar .menu li a {
     margin: 0 10px;
     font-size: 18px;
     font-weight: 500;
     color: #0e2431;
     transition: color 0.2s;
 }
 
 nav .navbar .menu li a:hover {
     color: #4070f4;
 }
 
 nav .navbar .media_icon i {
     color: #4070f4;
     margin: 0 2px;
     padding: 0 2px;
     font-size: 18px;
 }
 
 nav .navbar .btn_bar,
 nav .navbar .menu .cancel_btn {
     display: none;
 }
 /*Responsive Media Quiry*/
 
 @media (max-width:760px) {
     nav .navbar .menu {
         flex-direction: column;
         align-items: center;
         position: absolute;
         right: -100%;
         top: 0;
         width: 100%;
         max-width: 350px;
         height: 100vh;
         background-color: #0e2431;
         padding: 100px 0;
         transition: .5s;
     }
     nav .navbar .menu li a {
         font-size: 23px;
         color: white;
         display: block;
         margin: 10px 0;
     }
     nav .navbar .btn_bar,
     nav .navbar .menu .cancel_btn {
         display: block;
         font-size: 23px;
         position: absolute;
         top: 20px;
         right: 20px;
         cursor: pointer;
     }
     nav .navbar .btn_bar {
         color: #4070f4;
     }
     nav .navbar .menu .cancel_btn {
         color: red;
     }
     nav .navbar .media_icon {
         display: none;
     }
 }
 /* Section Home */
 
 .home_section {
     height: 100vh;
     width: 100%;
     background-image: url(../img/background.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
 
 .home_section .home_centent {
     width: 90%;
     height: 100%;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     color: #0e2431;
 }
 
 .home_section .home_centent .text-one,
 .home_section .home_centent .text-four {
     font-size: 20px;
     font-weight: 400;
 }
 
 .home_section .home_centent .text-two {
     font-size: 50px;
     font-weight: 600;
 }
 
 .home_section .home_centent .text-three {
     color: #4070f4;
     font-size: 30px;
 }
 
 .home_section .home_centent .text-five {
     color: white;
     font-size: 30px;
     border: 2px solid white;
     background-color: #4070f4;
     padding: 2.5px 0;
     margin-top: 20px;
     border-radius: 10px;
     width: 35%;
     text-align: center;
     cursor: pointer;
     transition: border, background-color 0.2s;
     outline: none;
 }
 
 .home_section .home_centent .text-five:hover {
     color: #4070f4;
     background-color: white;
     border-color: #4070f4;
 }
 
 @media (max-width:560px) {
     .home_section .home_centent .text-two {
         font-size: 40px;
         font-weight: 500;
     }
     .home_section .home_centent .text-five {
         font-size: 25px;
         padding: 2px 0;
         width: 30%;
     }
 }
 /* About me start*/
 
 .main .About_me {}
 
 .main .About_me .aboutme {
     margin: 50px auto;
     color: #0e2431;
 }
 
 .main .About_me h2,
 .main .myskills h2 {
     font-size: 35px;
     font-weight: 700;
     border-bottom: 4px solid #4070f4;
     width: fit-content;
     margin: 5px auto;
 }
 
 .main .About_me h2::after,
 .main .myskills h2 {
     content: "";
     display: block;
     width: 80%;
     margin: 5px auto;
     padding: 2px 0;
     right: auto;
     background-color: #4070f4;
 }
 
 .main .About_me .about_me_centent {
     display: flex;
     margin-top: 10px;
     justify-content: center;
 }
 
 .main .About_me .about_me_centent .about_me_pic {
     width: 30%;
     background-image: url(../img/about.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
 }
 
 .main .About_me .about_me_centent .about_me_text {
     color: #0e2431;
     width: 60%;
     padding-left: 40px;
 }
 
 .main .About_me .about_me_centent .about_me_text .text_title {
     font-size: 20px;
     font-weight: 600;
 }
 
 .main .About_me .about_me_centent .about_me_text .text_centent {
     margin-top: 10px;
     line-height: 25px;
     word-spacing: 2.5px;
     font-size: 17px;
 }
 
 .main .About_me .about_me_centent .about_me_text .cv_btn {
     margin-top: 10px;
 }
 
 .main .About_me .about_me_centent .about_me_text .cv_btn button {
     color: white;
     background-color: #4070f4;
     border: 2px solid white;
     border-radius: 5px;
     font-size: 25px;
     font-weight: 600;
     padding: 10px 15px;
     outline: none;
     cursor: pointer;
 }
 
 .main .About_me .about_me_centent .about_me_text .cv_btn button:hover {
     color: #4070f4;
     background-color: white;
     transition: 0.5s;
     border: 2px solid #4070f4;
 }
 /* About me end*/